@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lausanne";
  src: url("./assets/fonts/Lausanne-300.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Lausanne";
  src: url("./assets/fonts/Lausanne-500.woff2") format("woff2");
  font-weight: 500;
}

body {
  font-family: "Lausanne", sans-serif;
}   
.moveX{
    animation-name: moveAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.moveLink{
    opacity: 0;
    transition: all ease 0.5s;
}

.link:hover .moveLink{
    opacity: 1;
}

@keyframes moveAnimation {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

/* App.css */

.flow {
  width: max-content;              /* Content ki actual width */
  animation: moveAnimation1 9s linear infinite;
  will-change: transform;
}

@keyframes moveAnimation1 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%); /* 5rem = Tailwind gap-40 */
  }
}
.flow2{
     width: max-content;
  animation-name: moveAnimation2;
  animation-duration: 9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  will-change: transform;
}
@keyframes moveAnimation2{
    from{
        transform: translateX(-50%);
    }
    to{
        transform: translateX(0);
    }
}